html, body{
	width: 100%;
    	height: 100%;
	padding:0px;
	margin:0px;
} 

.t2sf{
	width: 100%;
    	height: 100%;
	padding:0px;
	margin:0px;
	border: none;
	-webkit-overflow-scrolling: touch;
}

body > .toolbar {
    box-sizing: border-box;
    -moz-box-sizing:t border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    height: 45px;
    background: #000000;
}